# Titanic - Machine Learning from Disaster

## Import Libraries

In [1]:
import pandas as pd

## Load the dataset

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
pd.set_option('display.max_columns', len(train.columns))
train.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
596,597,1,2,"Leitch, Miss. Jessie Wills",female,NaN,0,0,248727,33.0000,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.0,0,0,C.A. 29566,10.5000,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
411,412,0,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.0500,NaN,S

In [3]:
train.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

## Check duplicated values

In [4]:
train[train.duplicated()].sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            0.0
SibSp            0
Parch            0
Ticket           0
Fare           0.0
Cabin            0
Embarked         0
dtype: object

## Exploratory data analysis

In [5]:
# Perform groupby operation and aggregate using a dictionary of aggregation functions
result = train.groupby('Pclass').agg({'Survived': ['sum', 'count']})

# Rename the columns for clarity
result.columns = ['Survived', 'Total']

# Calculate the percentage of survived passengers
result['Percentage'] = (result['Survived'] / result['Total']) * 100
result.reset_index()

   Pclass  Survived  Total  Percentage
0       1       136    216   62.962963
1       2        87    184   47.282609
2       3       119    491   24.236253

### Pclass Summary

In [6]:
# Create a pivot table
pivot_table = pd.pivot_table(train, index=["Pclass"], values=["Survived"],  aggfunc=sum)

# Calculate total passengers for each class using value counts
total_passengers = train['Pclass'].value_counts().sort_index()

# Assign the total passengers to the pivot table
pivot_table['Total'] = total_passengers

#Total Passangers
total_passengers =train['Pclass'].value_counts().sum()

# # Calculate percentage of survived passengers within each class
pivot_table['%CLass'] = (pivot_table["Survived"] / pivot_table['Total']) * 100
pivot_table['%Total'] = (pivot_table["Survived"] / total_passengers) * 100

# pivot_table['Percentage_Survived'] = (pivot_table[1] / pivot_table['Total']) * 100
pivot_table.reset_index()

   Pclass  Survived  Total     %CLass     %Total
0       1       136    216  62.962963  15.263749
1       2        87    184  47.282609   9.764310
2       3       119    491  24.236253  13.355780

### Gender Summary

In [7]:
# Create a pivot table
pivot_table = pd.pivot_table(train, index=["Sex"], values=["Survived"],  aggfunc=sum)

# Calculate total passengers for each class using value counts
total_passengers = train['Sex'].value_counts().sort_index()

# Assign the total passengers to the pivot table
pivot_table['Total'] = total_passengers

#Total Passangers
total_passengers =train['Pclass'].value_counts().sum()

# # Calculate percentage of survived passengers within each class
pivot_table['%CLass'] = (pivot_table["Survived"] / pivot_table['Total']) * 100
pivot_table['%Total'] = (pivot_table["Survived"] / total_passengers) * 100

# pivot_table['Percentage_Survived'] = (pivot_table[1] / pivot_table['Total']) * 100
pivot_table.reset_index()

      Sex  Survived  Total     %CLass     %Total
0  female       233    314  74.203822  26.150393
1    male       109    577  18.890815  12.233446

### Age Summary